.primaria {
	color: #ffffff;
	background-color: $primaria;
}

.secundaria {
	color: #ffffff;
	background-color: $secundaria;
}

.azul {
	color: #ffffff;
	background-color: $azul;
}

.azul-400 {
	color: #ffffff;
	background-color: $azul-400;
}

.azul-600 {
	color: #ffffff;
	background-color: $azul-600;
}

.azul-800 {
	color: #ffffff;
	background-color: $azul-800;
}