
*,
*:before,
*:after {
  box-sizing: border-box;
}

ol,
ul,
dl {
	margin: 0;
	padding: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
	margin: 0;
	padding: 0;
}

img, figure, picture {
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

main,
section,
figure,
img {
	display: block;
}

html, body {
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
}

li {
	list-style: none;
}

input,
textarea {
	-webkit-appearance: none;
	outline: none;
}

.container-1600 {
	width: 100%;
	margin: 0 auto;
	max-width: 1600px;
}

@mixin padding-mobile {
  @media (max-width: 1600px) {
		padding-left: 30px;
		padding-right: 30px;
	}
}
