// Larguras
$lg: 1920px;
$md: 1366px;
$sm: 768px;
$xs: 425px;

// Cores
$branco:  #ffffff !default;
$azul:    #049BFA !default;
$azul-400:#295BA8 !default;
$azul-600:#214780 !default;
$azul-800:#1B3855 !default;
$roxo:     #8662ff !default;
$rosa:     #d63384 !default;
$vermelho: #dc3545 !default;
$laranja:  #fd7e14 !default;
$amarelo:  #ffc107 !default;
$verde:   #198754 !default;

// Padrão
$primaria:      $azul-400 !default;
$secundaria:    $azul-600 !default;
$sucesso:       $verde !default;
$informacao:    $amarelo !default;
$atencao:       $amarelo !default;
$perigo:        $vermelho !default;
$claro:         $branco !default;
$escuro:        $branco !default;

// Tags
$tema: $roxo;