button,
.btn {
	cursor: pointer;
	display: inline-block;
	font-size: 17px;
	line-height: 1em;
	padding: 0.5em 1em;
	position: relative;
	transition: 0.3s;
	flex-shrink: 0;
	width: auto;
	height: auto;
	border: 1.5px solid transparent;
	-webkit-appearance: none;
	border-radius: 5px;

	@mixin right {
		&.right {
			background-position: 95% 50%;
		}
	}

	&:disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	&.lg {
		line-height: 2.2;
		padding: 12px 25px;
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 0 4px #cbd6ee;
	}

	&.round {
		border-radius: 38px;
	}

	&.full {
		width: 100%;
	}

	// Largura
	&.small {
		padding: 0.8em;
	}

	// Icone
	&.icone-esquerda i {
		padding-right: 5px;
	}

	&.icone-direita i {
		padding-left: 5px;
	}

	// Versao transparente
	&.transparente {
		border: 1.5px solid white;
		background-color: transparent;
		color: #fff;

		&:hover {
			background-color: #fff;
			color: $primaria;
		}

		&.active {
			background-color: #fff;
			color: $primaria;
		}
	}

	&.transparente.azul {
		border: 1.5px solid $primaria;
		background-color: transparent;
		color: $primaria;

		&:hover {
			background-color: $primaria;
			color: #fff;
		}
	}

	&.transparente.gray {
		border: 1.5px solid gray;
		background-color: transparent;
		color: gray;

		&:hover {
			background-color: gray;
			color: #fff;
		}
	}

	// Versao verde
	&.verde {
		background-color: $verde;
		color: #fff;

		&:hover {
			border: 1.5px solid $verde;
			background-color: #fff;
			color: $verde;
		}
	}

	// Versao azul
	&.azul {
		background-color: $primaria;
		color: #fff;

		&:hover {
			border: 1.5px solid $primaria;
			background-color: #fff;
			color: $primaria;
		}
	}

	// Versao azul
	&.dropdown {
		color: #2C3E50;
		background-color: #ffffff;
	}

	&.azul-claro {
		background-color: $primaria;
		color: white;

		&:hover {
			border: 1.5px solid $primaria;
			background-color: #fff;
			color: $primaria;
		}
	}

	// Versao branco
	&.branco {
		color: $primaria;
		border: 1.5px solid $primaria;
		background-color: #fff;

		&:hover {
			background-color: $primaria;
			color: #fff;
		}
	}

	// Versao branca
	&.verde-flat {
		color: #fff;
		border: 1.5px solid $verde;
		background-color: $verde;

		&:hover {
			border-color: $verde;
			background-color: #fff;
			color: $verde;
		}
	}

	// DropDown
	&.drop-down {
		cursor: pointer;
		color: #2C3E50;
		font-weight: 900;
    background-color: #ffffff;
	}
}

#visualizacao-senha {
	cursor: pointer;
	width: 33px;
	height: 33px;
	background: url(../../img/ico/eye-white.svg) center center no-repeat;
	background-size: 25px;
	position: absolute;
	right: 0;
	top: 10px;
	z-index: 3;
	padding: 0;

	&.esconde-senha {
		background: url(../../img/ico/eye-white-hide.svg) center center no-repeat;
		background-size: 25px;
	}
}

.btn-type-1 {
	border: 1.5px solid #fff;
	border-radius: 4px;
	color: #fff;
	background: transparent;
	transition: all 0.3s ease;
	font-size: 14px;

	&:hover {
		background: $primaria;
		color: #fff;
	}
}
