.tag {
	height: 20px;
	width: auto;
	display: inline-block;
	color: #fff;
	padding: 0 5px;
	border-radius: 2px;
	line-height: 2em;
	text-transform: uppercase;
	font-weight: 600;

	&:hover {
		
	}

	&.padrao {
		background-color: $primaria;
	}

	&.tema {
		background-color: $tema;
	}
}

